.editor {
    margin: 100px 400px;
    display: block;
}

.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border-color: Transparent;
    outline: none;
    resize: none;
    font-size: 18px;
    height: auto;
} 

.textarea[data-placeholder]:empty:before {
    content: attr(data-placeholder);
    pointer-events: none;
    color: gray;

}